In [56]:
import numpy as np
import pandas as pd

In [57]:
df =pd.read_csv("Covid_19_vaccination.csv")
df.head(4)

,STATE,COUNTY,FIPS,E_TOTPOP,EP_POV,EP_UNEMP,EP_PCI,EP_NOHSDP,EP_AGE65,EP_AGE17,...,EP_MOBILE,EP_CROWD,EP_NOVEH,EP_GROUPQ,SVI,V_REPORT_COMPLETENESS,V_PCT_ALL,V_PCT_12YRS,V_PCT_18YRS,V_PCT_65YRS
0,AL,Autauga,1001,55200,15.4,4.2,29372,11.3,14.6,24.2,...,18.4,1.4,5.6,1.0,Low-Mod,92.5,34.7,40.8,42.5,62.2
1,AL,Blount,1009,57645,14.4,4.1,22656,19.8,17.8,23.4,...,25.2,1.6,4.2,0.9,Low-Mod,92.5,27.2,32.0,33.9,50.1
2,AL,Butler,1013,20025,23.5,6.7,20430,15.4,19.0,22.8,...,26.2,1.8,7.8,1.6,High,92.5,34.4,40.1,42.1,59.6
3,AL,Calhoun,1015,115098,18.6,8.8,24706,15.9,16.8,21.9,...,14.7,1.7,5.8,2.7,High,92.5,40.3,46.8,49.2,74.6

In [58]:
#q-a
a=len(pd.unique(df['COUNTY']))
print(a)

1850

In [59]:
# Q-b
df.groupby(['COUNTY'])["E_TOTPOP"].sum()

COUNTY
Abbeville         24657
Acadia            62568
Accomack          32742
Ada              446052
Adair             73803
                  ...
Yukon-Koyukuk      5415
Yuma             217898
Zapata            14369
Zavala            12131
Ziebach            2814
Name: E_TOTPOP, Length: 1850, dtype: int64

In [60]:
#Q-c
df.groupby(["COUNTY"]).sum()
C=0
for i in range(len(df)):
    if (df.loc[[i]].isna().sum().sum()>0):
        C=C+1
print(C)

# df.loc[[3]].isna().sum().sum()

C:\Users\annup\AppData\Local\Temp\ipykernel_32224\475420561.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["COUNTY"]).sum()

395

In [61]:
df.isna().sum()
df1=df.dropna()
df1.isna().sum()
df2=df1.groupby(["COUNTY"]).sum()
df2

C:\Users\annup\AppData\Local\Temp\ipykernel_32224\556259873.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2=df1.groupby(["COUNTY"]).sum()

,FIPS,E_TOTPOP,EP_POV,EP_UNEMP,EP_PCI,EP_NOHSDP,EP_AGE65,EP_AGE17,EP_DISABL,EP_SNGPNT,...,EP_MUNIT,EP_MOBILE,EP_CROWD,EP_NOVEH,EP_GROUPQ,V_REPORT_COMPLETENESS,V_PCT_ALL,V_PCT_12YRS,V_PCT_18YRS,V_PCT_65YRS
COUNTY,,,,,,,,,,,,,,,,,,,,,
Abbeville,45001,24657,22.5,7.6,21185,19.8,20.5,20.9,20.5,8.8,...,0.9,27.5,0.9,10.7,3.6,93.8,35.4,40.5,42.7,63.3
Accomack,51001,32742,19.9,4.2,24355,18.7,21.9,21.0,13.3,8.7,...,1.7,18.2,1.5,10.1,3.4,83.3,62.4,72.4,75.1,89.3
Adair,109004,73803,86.4,21.5,89001,56.5,69.1,86.0,66.8,29.6,...,8.3,54.2,9.7,24.9,20.7,376.8,147.4,171.4,179.0,264.1
Adams,348013,837370,178.9,55.4,285688,162.8,200.1,263.2,157.2,92.7,...,52.2,118.5,33.9,69.0,37.5,1060.6,487.6,577.0,609.0,833.5
Addison,50001,36939,7.7,4.3,33120,7.1,18.5,17.5,14.8,6.7,...,2.8,8.0,0.9,4.6,8.0,73.7,62.2,69.5,69.5,84.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
York,192639,987143,44.7,24.0,169395,39.9,84.3,113.3,64.5,40.3,...,37.2,27.5,6.0,22.1,14.3,457.6,263.2,306.2,315.9,410.3
Yuba,6115,75493,18.0,8.4,23867,18.0,12.0,27.7,15.8,11.8,...,5.9,10.2,7.3,7.1,1.9,97.4,42.8,52.6,55.1,71.8
Yukon-Koyukuk,2290,5415,25.1,18.8,22386,14.3,13.6,27.7,14.9,15.3,...,0.5,2.9,16.3,51.7,5.6,96.6,60.8,75.7,76.0,84.2
Yuma,12152,217898,34.6,12.5,47024,39.8,36.2,52.4,24.0,18.5,...,8.6,41.8,11.4,10.5,3.8,195.0,94.2,114.2,119.6,139.0
Ziebach,46137,2814,41.0,23.1,14943,15.9,9.0,32.0,10.9,17.2,...,6.9,27.2,14.2,12.2,0.0,84.8,24.6,29.0,30.2,48.5

In [62]:
#Q-d
table = pd.pivot_table(df1, values =["E_TOTPOP"], index =['STATE'],
                         columns =['SVI'])
table

           E_TOTPOP
SVI            High            Low       Low-Mod      Mod-High
STATE
AK     8.965800e+03            NaN  3.941000e+03  5.065500e+03
AL     5.128317e+04  209684.000000  9.547688e+04  7.937044e+04
AR     2.982450e+04   25230.000000  7.599722e+04  4.353944e+04
AZ     2.107642e+05            NaN           NaN  1.157070e+06
CA     9.182721e+05  177766.250000  1.040402e+06  5.151473e+05
CO     2.425200e+04   75479.653846  1.744974e+05  6.607192e+04
CT              NaN  165889.333333  4.432557e+05  8.770345e+05
DC              NaN            NaN           NaN  6.844980e+05
DE              NaN            NaN  3.873365e+05  1.748220e+05
FL     1.679175e+05  223041.500000  2.329984e+05  5.969152e+05
GA     3.406001e+04   92965.071429  1.402437e+05  9.661969e+04
IA     1.713200e+04   22790.721311  4.913830e+04  3.585486e+04
IL     2.965967e+04   80426.447368  8.367359e+04  2.809347e+05
IN     5.740635e+05   53218.406250  4.315865e+04  9.662150e+04
KS     5.828960e+04   24715.829787  1.216642e+04  6.622400e+04
KY     2.176679e+04   68424.166667  4.059704e+04  4.551093e+04
MA     4.691160e+05  409971.750000  4.748040e+05  7.105650e+05
MD     1.937175e+05  184206.181818  4.082864e+05  2.902162e+05
ME              NaN   90898.875000  8.687625e+04  6.452925e+04
MI     4.575445e+05  156493.578947  9.168428e+04  7.928696e+04
MN     2.056850e+04   50564.956522  7.773919e+04  1.262884e+05
MO     4.275611e+04   73491.842105  6.146092e+04  4.024520e+04
MS     3.304553e+04            NaN  1.117332e+05  3.149239e+04
MT     1.021480e+04   23063.419355  1.278964e+04  1.610617e+04
NC     6.411427e+04   74761.000000  1.560188e+05  1.145793e+05
ND     8.634000e+03   13359.953488  2.168871e+04           NaN
NE     1.708700e+04    8580.086957  8.774017e+04  2.317678e+04
NH              NaN  145731.555556           NaN  3.203800e+04
NJ     4.298838e+05  387645.111111  5.041140e+05  4.322324e+05
NM     4.593552e+04   18356.000000  4.106225e+04  1.509793e+05
NV     1.781800e+04   17866.333333  7.455500e+03  3.478834e+05
NY     1.040814e+06  391486.666667  1.399353e+05  3.605869e+05
OH     5.262580e+04   95415.857143  9.661117e+04  2.271301e+05
OK     2.984038e+04   15990.000000  4.606465e+04  1.085165e+05
OR     7.215738e+04  196011.000000  2.575053e+05  7.219047e+04
PA     1.575522e+06  199574.388889  1.547513e+05  1.686982e+05
RI     6.345330e+05  105519.500000           NaN           NaN
SC     5.310160e+04            NaN  2.236930e+05  1.524151e+05
SD     5.341556e+03    8724.189189  2.975280e+04  9.425600e+03
TN     7.447274e+04  117579.666667  8.641818e+04  5.477977e+04
UT     1.528100e+04   55256.333333  1.545890e+05  1.977933e+04
VA     5.021007e+04   98805.500000  5.316893e+04  2.961938e+04
VT              NaN   47699.777778  3.913580e+04           NaN
WA     7.989080e+04   22490.428571  4.701937e+05  6.956710e+04
WI     4.793940e+05   77797.840909  5.641855e+04  4.468833e+04
WV     3.514643e+04   34201.800000  3.232986e+04  3.332241e+04
WY              NaN   17502.818182  3.337520e+04  2.777650e+04

In [63]:
# Question - e
modified_table = table.div(table.sum(axis=1), axis=0)
modified_table.head()

       E_TOTPOP
SVI        High       Low   Low-Mod  Mod-High
STATE
AK     0.498868       NaN  0.219282  0.281850
AL     0.117672  0.481131  0.219077  0.182120
AR     0.170825  0.144509  0.435287  0.249379
AZ     0.154086       NaN       NaN  0.845914
CA     0.346310  0.067041  0.392369  0.194279

In [64]:
# Q-f
df2=pd.DataFrame(df.groupby(["COUNTY"])["V_PCT_ALL","E_TOTPOP"].sum())
df2["total_vaccinated"] = df2["V_PCT_ALL"]*df2["E_TOTPOP"]*100
df2

C:\Users\annup\AppData\Local\Temp\ipykernel_32224\144204606.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df2=pd.DataFrame(df.groupby(["COUNTY"])["V_PCT_ALL","E_TOTPOP"].sum())

               V_PCT_ALL  E_TOTPOP  total_vaccinated
COUNTY
Abbeville           35.4     24657      8.728578e+07
Acadia               0.0     62568      0.000000e+00
Accomack            62.4     32742      2.043101e+08
Ada                 51.0    446052      2.274865e+09
Adair              147.4     73803      1.087856e+09
...                  ...       ...               ...
Yukon-Koyukuk       60.8      5415      3.292320e+07
Yuma                94.2    217898      2.052599e+09
Zapata               0.0     14369      0.000000e+00
Zavala               0.0     12131      0.000000e+00
Ziebach             24.6      2814      6.922440e+06

[1850 rows x 3 columns]

In [ ]:
#q-g
df1.head(4)
df2=pd.DataFrame(df1.groupby(["STATE"])["V_PCT_12YRS"].median())
df2

In [66]:
#q-h
df1.head(4)
df1.groupby(["SVI"])["V_PCT_12YRS"].median()

SVI
High        46.50
Low         53.90
Low-Mod     51.25
Mod-High    48.20
Name: V_PCT_12YRS, dtype: float64

In [55]:
# Q - i

p = pd.DataFrame(df1["V_PCT_12YRS"] ,df1["EP_POV"])
p.corr(method="pearson")

             V_PCT_12YRS
V_PCT_12YRS          1.0

In [54]:
#q-j
df1[df1["STATE"] == "PA"]["V_PCT_12YRS"].median()

59.2

In [53]:
# Question K
df_of_PA_temp = df1[df1["STATE"] == "PA"]
data = dict(
    STATE = df_of_PA_temp["STATE"],
    COUNTRY = df_of_PA_temp["COUNTY"],
    V_PCT_12YRS = df_of_PA_temp["V_PCT_12YRS"]
)

df_of_PA = pd.DataFrame(data)
df_of_PA.sort_values(by=["V_PCT_12YRS"],inplace=True, ascending=False)


print("Top 5 countries in PA which has the highest V_PCT_12YRS")
highest_5_V_PCT_12YRS = df_of_PA["COUNTRY"].iloc[:5]
print(highest_5_V_PCT_12YRS)

print("\nTop 5 countries in PA which has the lowest V_PCT_12YRS")
lowest_5_V_PCT_12YRS = df_of_PA["COUNTRY"].iloc[-5:]
print(lowest_5_V_PCT_12YRS)

Top 5 countries in PA which has the highest V_PCT_12YRS
1928       Montour
971         Lehigh
1923    Lackawanna
2355      Delaware
952          Bucks
Name: COUNTRY, dtype: object

Top 5 countries in PA which has the lowest V_PCT_12YRS
951    Bradford
973      McKean
949     Bedford
965      Fulton
979      Potter
Name: COUNTRY, dtype: object